<div class="container">
  <form ng-submit="Post.upsert()" class="form-horizontal">
    <div class="row">
      <div class="page-header">
        <h1>Write a Post</h1>
          <h3><span ng-bind="Post.selected.abspath" ></span></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="well bs-component">
          <fieldset>
            <div class="form-group">
              <label for="inputPostTitle" class="col-lg-2 control-label">Title*</label>
              <div class="col-lg-10">
                <input
                  required="required"
                  ng-model="Post.selected.post.yml.title"
                  ng-change="Post.onChange()"
                  type="text"
                  class="form-control"
                  id="inputPostTitle"
                  placeholder="i.e. My First Post"
                  >
              </div>
            </div>
            <!--
            <div class="form-group">
              <label for="inputPostUuid" class="col-lg-2 control-label">UUID</label>
              <div class="col-lg-10">
                <input 
                  disabled
                  type="text"
                  class="form-control"
                  id="inputPostUuid"
                  placeholder="ERROR"
                  >
              </div>
            </div>
            -->
            <div class="form-group">
              <label for="textAreaPost" class="col-lg-2 control-label">Post*</label>
              <div class="col-lg-10">
                <textarea
                  required="required"
                  ng-model="Post.selected.post.body"
                  ng-change="Post.onChange()"
                  class="form-control"
                  rows="20"
                  id="textAreaPost"
                  placeholder="i.e. I Don't Know Anything About the Gold Standard... But I Do Love Little Kittens!"
                  ></textarea>
                <span class="help-block">Put your lovely post here, in github-flavored markdown!</span>
              </div>
            </div>

            <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Format*</label>
              <div class="col-lg-10">
                <select
                  required="required"
                  ng-model="Post.selected.format"
                  ng-change="Post.onChange()"
                  class="form-control"
                  id="select">
                  <option value="html">HTML</option>
                  <option selected="selected" value="md">Markdown</option>
                  <option disabled="disabled" value="jade">Jade (Not Implemented)</option>
                </select>
                <!--div class="checkbox">
                  <label>
                    <input type="checkbox"> Draft
                  </label>
                </div-->
              </div>
            </div>

            <div class="form-group">
              <label for="textAreaDesc" class="col-lg-2 control-label">Description*
                <small>(<span ng-bind="Post.selected.post.yml.description.length || 0"></span>/140)</small></label>
              <div class="col-lg-10">
                <textarea
                  required="required"
                  ng-change="Post.onChange()"
                  ng-model="Post.selected.post.yml.description"
                  placeholder="i.e. An alternate recipe for Peeta Mellarks's famous apple goat cheese tarts using only ingredients available in district 10"
                  class="form-control"
                  rows="2" 
                  id="textAreaDesc"></textarea>
                <span class="help-block">The description is often used by search engines as the snippit shown in search results.</span>
              </div>
            </div>

            <div class="form-group">
              <label for="textAreaYaml" class="col-lg-2 control-label">Frontmatter</label>
              <div class="col-lg-10">
                <textarea
                  required="required"
                  ng-change="Post.onFrontmatterChange()"
                  ng-model="Post.selected.post.frontmatter"
                  class="form-control"
                  rows="5" 
                  id="textAreaYaml"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPostAbsPath" class="col-lg-2 control-label">Filepath</label>
              <div class="col-lg-10">
                <input
                  required="required"
                  disabled
                  ng-model="Post.selected.abspath"
                  ng-change="Post.onChange()"
                  type="text"
                  class="form-control"
                  id="inputPostAbsPath"
                  placeholder="i.e. ~/blog.me.co/posts/my-first-post.md"
                  >
              </div>
            </div>

            <!--
            <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Selects</label>
              <div class="col-lg-10">
                <select class="form-control" id="select">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>
            TODO theme -->
            <!-- TODO layout -->
            <!-- TODO swatch -->

            <!--
            <div class="form-group">
              <label for="inputPostDate" class="col-lg-2 control-label">Date</label>
              <div class="col-lg-10">
                <input
                  disabled
                  type="text"
                  class="form-control"
                  id="inputPostDate"
                  ng-placeholder="i.e. {{Post.year}}-{{Post.month}}-{{Post.day}} {{Post.hour}}:{{Post.minute}}"
                  >
              </div>
            </div>
            -->

            <!--
            <div class="form-group">
              <label for="inputPostPermalink" class="col-lg-2 control-label">Permalink</label>
              <div class="col-lg-10">
                <input
                  required="required"
                  type="text"
                  class="form-control"
                  id="inputPostPermalink"
                  placeholder="i.e. /articles/my-first-post.html"
                  >
              </div>
            </div>
            -->

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <!--button class="btn btn-default">Save Draft</button-->
                <button
                  type="submit"
                  class="btn btn-primary pull-right"
                  >Publish</button>
              </div>
            </div>
          </fieldset>
          <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
        </div>
      </div>

    </div>
  </form>
</div>
