<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Site Configuration</h1>
      <h3><span ng-bind="Site.blogdir"></span><button class="btn btn-primary pull-right" type="submit" form="formSiteConf">Save &amp; Continue</button></h3>
    </div>
  </div>


  <form id="formSiteConf" class="form-horizontal" ng-submit="Site.upsert()">
    <div class="row">
      <div class="col-lg-12">
        <div class="well bs-component">
          <fieldset>
            <legend>General</legend>

            <div class="form-group">
              <label for="inputBlogTitle" class="col-lg-3 control-label">Title</label>
              <div class="col-lg-9">
                <input 
                  ng-model="Site.site.title"
                  required="required"
                  type="text" class="form-control" id="inputBlogTitle" placeholder="My Awesome Blog">
              </div>
            </div>

            <div class="form-group">
              <label for="inputBlogTagline" class="col-lg-3 control-label">Tagline</label>
              <div class="col-lg-9">
                <input 
                  ng-model="Site.site.tagline"
                  type="text" class="form-control" id="inputBlogTagline"
                  placeholder="i.e. I have not failed, I've just found 10,000 ways that do not work.">
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="inputSiteDesc" class="col-lg-3 control-label">Description
                    <small>(<span ng-bind="Site.site.description.length || 0"></span>/140)</small></label>
                  <div class="col-lg-9">
                    <textarea
                      ng-model="Site.site.description"
                      required="required"
                      class="form-control" id="inputSiteDesc" placeholder="i.e. For tips and tricks for try-hard ethical master cleanses, 3 wolf moons on Tumblr, disruptive lo-fi, preserving narwhals and eating kale chips, etc. YOLO."></textarea>
                  </div>
                </div>
              </div>
            </div>



            <!-- TODO -->
            <!--
            <div class="form-group">
              <label for="inputProdUrl" class="col-lg-3 control-label">URL</label>
              <div class="col-lg-9">
                <input
                  ng-model="Site.site.url"
                  ng-change="Site.updateUrls()"
                  placeholder="i.e. https://example.com/myblog"
                  type="url"
                  class="form-control"
                  id="inputProdUrl">
                <br/>
              </div>
            </div>
            -->

            <div class="form-group">
              <label for="inputProdHost" class="col-lg-3 control-label">Base URL</label>
              <div class="col-lg-9">
                <input ng-model="Site.site.base_url"
                  required="required"
                  placeholder="i.e. https://example.com in https://example.com/myblog"
                  type="url"
                  class="form-control"
                  id="inputProdHost">
                <br/>
              </div>
            </div>

            <div class="form-group">
              <label for="inputProdBase" class="col-lg-3 control-label">Base Path</label>
              <div class="col-lg-9">
                <input ng-model="Site.site.base_path"
                  required="required"
                  placeholder="i.e. / for blog.test.com or /blog for test.com/blog"
                  type="text"
                  class="form-control"
                  id="inputProdBase">
              </div>
            </div>

            <div class="form-group">
              <label for="inputProdOutput" class="col-lg-3 control-label">Output Path</label>
              <div class="col-lg-9">
                <input 
                  ng-value="Site.blogdir + '/compiled'"
                  type="text" class="form-control" id="inputProdOutput" disabled>
              </div>
            </div>

          </fieldset>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <div class="well bs-component">
          <fieldset>
            <legend>Development</legend>

            <div class="form-group">
              <label for="inputDevHost" class="col-lg-3 control-label">Base URL</label>
              <div class="col-lg-9">
                <input
                  value="https://local.dear.desi:65080"
                  type="url"
                  class="form-control"
                  id="inputDevHost"
                  disabled>
                <br/>
              </div>
            </div>

            <div class="form-group">
              <label for="inputDevBase" class="col-lg-3 control-label">Base Path</label>
              <div class="col-lg-9">
                <input
                  value="/compiled_dev"
                  placeholder="i.e. /blog in https://example.com/blog"
                  type="text" class="form-control" id="inputDevBase"
                  disabled>
              </div>
            </div>

            <div class="form-group">
              <label for="inputDevOutput" class="col-lg-3 control-label">Output Path</label>
              <div class="col-lg-9">
                <input
                  ng-value="Site.blogdir + '/compiled_dev'"
                  type="text"
                  class="form-control"
                  id="inputDevOutput"
                  disabled>
              </div>
            </div>

          </fieldset>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <div class="well bs-component">
          <fieldset>
            <legend>Plugins</legend>

            <div class="form-group">
              <label for="inputGoogleAnalyticsId" class="col-lg-3 control-label">Google Analytics ID</label>
              <div class="col-lg-9">
                <input
                  ng-model="Site.site.google_analytics_tracking_id"
                  placeholder="i.e. UA-XXXYYYZZ-1"
                  type="text"
                  class="form-control"
                  id="inputGoogleAnalyticsId"
                  >
                <br/>
                <small>Found in the Admin section of Google Analytics</small>
              </div>
            </div>

            <div class="form-group">
              <label for="inputDisqusShortname" class="col-lg-3 control-label">Disqus Shortname</label>
              <div class="col-lg-9">
                <input
                  ng-model="Site.site.disqus_shortname"
                  placeholder="i.e. johndoe-blog"
                  type="text" class="form-control" id="inputDisqusShortname"
                  >
                <br/>
                <small>Found under Admin &gt; Settings in Disqus</small>
              </div>
            </div>

          </fieldset>
        </div>
      </div>
    </div>

    <button class="btn btn-primary pull-right" type="submit">Save &amp; Continue</button>
  </form>
</div>
