<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="page-header">
        <h1>Welcome to Dear Desi! <small ng-bind="'(v%VERSION%)' | interpolate"></small></h1>
      </div>

      <div class="jumbotron">
        <div class="row">
          <div class="col-lg-7">
            <p>Setup your new blog in just 5 minutes.</p>
          </div>
          <div class="col-lg-5">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7">
            <br/>
            <iframe width="560" height="315" src="//www.youtube.com/embed/YZzhIIJmlE0" frameborder="0" allowfullscreen></iframe>
            <br/>
          </div>
          <div class="col-lg-5">
            <h2>Dear Desi is...</h2>
            <br/>
            <ul>
              <li>Builds in the Browser
                <ul>
                  <li>The in-browser static blog generator</li>
                  <li>Write content in Markdown, Jade, or HTML</li>
                  <li>Mustache Templates</li>
                </ul>
              </li>
              <li>Git, Dropbox, or regular Folders for management</li>
              <li>Go headless with Node.js support</li>
              <li>Dual Licensed Apache2 and MIT</li>
              <li>No Ruby version Hell - it'll still work in 6 months! :-D</li>
            </ul>
            <h3>What are you waiting for?</h3>
            <br/>
            <a class="btn btn-primary btn-lg pull-right" href="/#authors">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
