<div ui-view="content" autocroll="false">
  <div style="margin-bottom: 0;" class="jumbotron">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>Dear Desi, ...</p><br/>
          </div>
        </div>

        <div style="text-align: center;" class="col-md-6"><img ng-src="http://dropsha.re/files/fly6+.8/desi-parker-2.jpg" style="border: 5px solid white; width: 260px; height: 260px;" class="img-circle"/>
          <h1>Desirae</h1>
          <h3>The in-browser static blog generator
            <small ng-bind="'(v%VERSION%)' | interpolate"></small>
          </h3>
        </div>
        <div style="text-align: left;" class="col-md-6">
          <div>
                <legend>
                  <h2><span>Features</span></h2>
                </legend>

                <div class="row">
                  <div class="col-lg-12">
                    <ul>
                      <li>Builds in the Browser
                        <ul>
                          <li>Write content in Markdown, Jade, or HTML</li>
                          <li>Mustache Templates</li>
                        </ul>
                      </li>
                      <li>Git, Dropbox, or regular Folders for management</li>
                      <li>Go headless with Node.js support</li>
                      <li>Dual Licensed Apache2 and MIT</li>
                      <li>No Ruby version Hell - it'll still work in 6 months! :-D</li>
                    </ul>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
