<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Site Configuration</h1>
      <h3><span ng-bind="Site.blogdir"></span></h3>
    </div>
  </div>

  <form class="form-horizontal">
    <div class="row">
      <div class="col-lg-12">
        <div class="well bs-component">
          <fieldset>
            <legend>Advanced</legend>

            <div class="form-group">
              <label for="inputRootConf" class="col-lg-2 control-label">Root Pages</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="inputRootConf" placeholder="i.e. images">
              </div>
              <div class="col-lg-2">
                <button class="btn" type="button">Add</button>
              </div>
            </div>

            <div class="form-group">
              <label for="inputThemesConf" class="col-lg-2 control-label">Themes</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="inputThemesConf" placeholder="i.e. images">
              </div>
              <div class="col-lg-2">
                <button class="btn" type="button">Add</button>
              </div>
            </div>

            <div class="form-group">
              <label for="inputCollectionsConf" class="col-lg-2 control-label">Collections</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="inputCollectionsConf" placeholder="i.e. images">
              </div>
              <div class="col-lg-2">
                <button class="btn" type="button">Add</button>
              </div>
            </div>

            <div class="form-group">
              <label for="inputAssetsConf" class="col-lg-2 control-label">Assets</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="inputAssetsConf" placeholder="i.e. images">
              </div>
              <div class="col-lg-2">
                <button class="btn" type="button">Add</button>
              </div>
            </div>

            <div class="form-group">
              <label for="inputWidgetsConf" class="col-lg-2 control-label">Widgets</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="inputWidgetsConf" placeholder="i.e. images">
              </div>
              <div class="col-lg-2">
                <button class="btn" type="button">Add</button>
              </div>
            </div>

         </fieldset>
        </div>
      </div>
    </div>

  </form>
</div>
